<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs/Nlog.log" >

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  
  <variable name="connection" value= "${configsetting:name=ConnectionStrings.ApplicationConnection}" />
  
  <targets>

    <target
      type="Database"
      name="log_database"
      connectionString="${connection}"
      commandText="INSERT INTO Logs ([Date], [Level], [Message], [Logger]) VALUES (@Date, @Level, @Message, @Logger);">
        <parameter name="@Date" layout="${longdate}" dbType="DbType.DateTime"/>
        <parameter name="@Level" layout="${level}"/>
        <parameter name="@message" layout="${message}"/>
        <parameter name="@Logger" layout="${logger}"/>
    </target>
    
  </targets>

  <rules>
    <logger name="*" minLevel="Warn" appendTo="log_database" />
  </rules>

</nlog>